*.jpg
*.raw
*.csv
*.bin
*.egg-info
*.html
*.cfg
*.so

__pycache__/
.VSCodeCounter/
.vscode/
from_golden_model/
build/
release/
debug/
test_vectors/*
test/*
reference
raw_images/
test_vectors/*
share

.DS_Store
test/comparison.txt
bin
include
lib
